<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="Shortcut Icon" href="img/image/favicon.ico" type="image/x-icon">
		<title>Trung tâm REACH Hà Nội</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header_top">
					<div class="row">
						<div class="col-xl-3">
							<div class="header_phone">
								<a href="#">
									<img src="img/image/phone.png" alt="phone" width="15px;" height="15px;">
									Hà Nội:+84 473 021 339
								</a>	
							</div>
						</div>
						<div class="col-xl-3">
							<div class="header_phone">
								<a href="#">
									<img src="img/image/phone.png" alt="phone" width="15px;" height="15px;">
									Hải Dương: +84 543 537 837
								</a>
							</div>
						</div>
						<div class="col-xl-3">
							<div class="header_phone">
								<a href="#">
									<img src="img/image/phone.png" alt="phone" width="15px;" height="15px;">
									Đà Nẵng: +84 873 009 268
								</a>
							</div>
						</div>
						<div class="col-xl-3">
							<div class="header_phone">
								<a href="#">
									<img src="img/image/phone.png" alt="phone" width="15px;" height="15px;">
									Hồ Chí Minh: +84 942 256 825
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>	
		<!--start nav-->
	<nav class="sticky-top nav_top">
		<div class="container-fluid">
			<div class="nav">
				<div class="nav-logo">
					<a href="#">
						<img src="img/image/logo.png" alt="" width="100px" height="100px">
					</a>
				</div>
				<div class="nav-home">
					<a href="#" class="icon-home">
						<img src="img/image/home.png" alt="" width="20px" height="23px">
					</a>
				</div>
				<div class="navbar navbar-expand-xl">
				  <ul class="navbar-nav nav-menu">
					<li class="nav-item">
						<a class="nav-link" href="#">Giới thiệu</a>
					</li>
					<li class="nav-item">
						 <div class="dropdown">
							<button class="btn dropdown-toggle" type="button" id="dropdownTop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px;font-weight: 600;">
							    Tuyển sinh
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownTop">
						    	<a href="#" class="dropdown-item">Ngành học</a>
							    <a class="dropdown-item" href="#">Đăng kí học</a>
							</div>
						</div>
					</li>
					<li class="nav-item">
					  	<div class="dropdown">
							  <button class="btn dropdown-toggle" type="button" id="dropdownMany" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px;font-weight: 600;">
							    Ngành học
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMany">
							    <a class="dropdown-item" href="#">Lập trình web</a>
							    <a class="dropdown-item" href="#">Chế biến món ăn</a>
							    <a class="dropdown-item" href="#">Thiết kế đồ họa 2D</a>
							    <a class="dropdown-item" href="#">Thiết kế đồ họa 3D</a>
							    <a class="dropdown-item" href="#">Chỉnh sửa video</a>
							    <a class="dropdown-item" href="#">Làm tóc</a>
							    <a class="dropdown-item" href="#">Bàm bar và pha chế</a>
							    <a class="dropdown-item" href="#">Bán hàng và sale marketing</a>
							    <a class="dropdown-item" href="#">Nghiệp vụ khách sạn 5*</a>
							  </div>
						</div>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Đời sống học viên</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Tin tức&Thư viện</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Liên hệ</a>
					</li>
				  </ul>
				</div>
				<div class="nav-book">
					<a href="#">
						<img src="img/image/book.png" alt="" width="20px" height="23px">
						<span>Đăng ký<small>Nhập học</small></span>
					</a>
				</div>
				
			</div>
		</div>
	</nav>
	<!-- start section-->
	<!--section-carousel-->
	<div class="section-carousel">
		<div class="container-fluid">
			<div id="bibi" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ul class="carousel-indicators">
					<li data-target="#bibi" data-slide-to="0" class="active"></li>
					<li data-target="#bibi" data-slide-to="1"></li>
					<li data-target="#bibi" data-slide-to="2"></li>
				</ul>
				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active">
					  <img src="img/slide/slide1.jpg" alt="" width="100%" height="800px">
					</div>
					<div class="carousel-item">
					  <img src="img/slide/slide2.jpg" alt="" width="100%" height="800px">
					</div>
					<div class="carousel-item">
					  <img src="img/slide/slide3.jpg" alt="" width="100%" height="800px">
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#bibi" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#bibi" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
	<!--servicies-->
	<div>
		<div class="container">
			 <div class="row">
                <div class="col-xl-4 servicies">
					<div class="servicies-left">
						<div class="servicies-1">1068<sup>+</sup></div>
						<p class="servicies-2">Doanh nghiệp hợp tác</p>
					</div>
                </div>
                <div class="col-xl-4 servicies">
					<div class="servicies-center">
						<div class="servicies-3">70<sup>+</sup></div>
						<p class="servicies-4">Giáo viên giảng dạy</p>
					</div>
                </div>
                <div class="col-xl-4 servicies">
					<div class="servicies-right">
						<div class="servicies-5">16.000<sup>+</sup></div>
						<p class="servicies-6">Học sinh đào tạo</p>
					</div>
                </div>
            </div>
		</div>
	</div>
	<!--end section-->
		<div class="section">
			<div class="container">
				<div class="section_1">
					<h4><a href="#" class="section_top">chuyên ngành đào tạo</a></h4>
				</div>
				<div class="row">
					<div class="col-xl-4">
						<div class="section_2">
							<img src="img/image/maytinh.png" alt="maytinh" style="width:100; height:100px">
							<h4>
								lớp lập trình web
							</h4>
							<p>
								Sau khóa học bạn có thể hoàn toàn trở thành coder chuyên nghiệp rồi và 
								bạn có thể tự code được cho mình những website tin tức và bán hàng một 
								cách dễ dàng.Các bạn được giới thiệu việc làm sau khóa học.
								Đặc biệt: Chương trình còn trang bị cho học viên các kỹ năng mềm 
								(làm việc nhóm, tư duy tích cực, kỹ ...
							</p>
							<a href="#" class="section_bottom">
								Tìm Hiểu Thêm...
							</a>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="section_2">
							<img src="img/image/3d-movie.png" alt="maytinh" style="width:100; height:100px">
							<h4>
								lớp thiết kế đồ họa 3D
							</h4>
							<p>
								Lớp Thiết kế đồ họa 3D tiếp tục là dự án mang lại cơ hội thay đổi cuộc 
								đời cho các bạn trẻ Việt Nam. Đã hơn 10 năm nay, Trung tâm REACH đã và 
								đang tiếp tục góp phần vào mục tiêu giảm tỉ lệ thất nghiệp trong thanh 
								niên Việt Nam, mang lại cho các bạn cơ hội được học và đi làm, trở thành
								bệ đỡ cho nhiều ước mơ...
							</p>
							<a href="#" class="section_bottom">
								Tìm Hiểu Thêm...
							</a>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="section_2">
							<img src="img/image/data-transformation.png" alt="maytinh" style="width:100; height:100px">
							<h4>
								lớp thiết kế đồ họa 2D
							</h4>
							<p>
								15 tuần 8h30 – 11h30 và 13h30-17h00, tất cả các ngày từ thứ 2 đến thứ 6,
								học trong 6 tháng REACH Hà Nội, REACH Đà Nẵng
								Thiết kế website và Đồ họa (2D) nằm trong top các nghề hot hiện nay.
								Nắm bắt nhu cầu tuyển dụng nhân viện thiết kế, Trung tâm REACH triển khai 
								tuyển sinh cho chương trình đào tạo...
							</p>
							<a href="#" class="section_bottom">
								Tìm Hiểu Thêm...
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sukien">
			<div class="container">
				<div class="sukien_1">
					<h3>tin tức & sự kiện</h3>
				</div>
				<div class="box"></div>
				<div class="sukien_2">
					<p>Mang Chứng chỉ quốc tế về cho học viên REACH chuyên ngành nhà hàng khách sạn</p>
				</div>
				<div class="sukien_3">
					<nav class="navbar navbar-expand-sm sukien-top">
						<ul class="navbar-nav home">
							<li class="nav-item">
							  <a class="nav-link" href="#">Tin Tức</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" href="#">Hướng nghiệp</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" href="#">Thể Thao</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="row">
					<div class="col-xl-3">
						<div class="sukien_4">
							<img src="img/image/le-ky-ket-bien-ban-ghi-nho-REACH-Chisholm.jpg" alt="" style="width:250px; height:200px;" >
							<p>Chiều tối 9.8.2019, tại Hà Nội, 
								đã diễn ra Lễ ký biên bản ghi nhớ
								giữa Trung tâm Tư vấn và Hỗ trợ nghề cho
								thanh niên có hoàn cảnh khó khăn (REACH)
								với Học viện Chisholm (Australia)...
							</p>
							<a class="sukien_5" href="#">
								xem tiếp >>
							</a>
						</div>
					</div>
					<div class="col-xl-3">
						<div class="sukien_4">
							<img src="img/image/OK VN REACH.jpg" alt="" style="width:250px; height:200px;" >
							<p>Chuỗi hoạt động kỷ niệm 10 năm thành lập
								REACH được khởi động bằng việc bình chọn 
								logo đã nhận được sự ủng hộ nhiệt tình từ
								tất cả mọi người. Nhờ những góp ý chân 
								thành và có giá trị...
							</p>
							<a class="sukien_5" href="#">
								xem tiếp >>
							</a>
						</div>
					</div>
					<div class="col-xl-3">
						<div class="sukien_4">
							<img src="img/image/60724467_2747392758708507_4168749365495595008_n.jpg" alt="" style="width:250px; height:200px;" >
							<p>Sự bền vững trong tương lai của REACH dựa chủ 
								yếu vào hỗ trợ tài chính và hiện vật mạnh mẽ 
								từ các công ty Việt Nam, các tổ chức,Chúng tôi 
								rất may mắn nhận được sự hỗ trợ...
							</p>
							<a class="sukien_5" href="#">
								xem tiếp >>
							</a>
						</div>
					</div>
					<div class="col-xl-3">
						<div class="sukien_4">
							<img src="img/image/53260573_2624173884363729_6957581010720522240_n.jpg" alt="" style="width:250px; height:200px;" >
							<p>REACH Rumble 2019 là giải bóng đá đầu tiên của
							 REACH, nhằm mục đích mang học sinh, các nhà tài 
							 trợ, các đối tác doanh nghiệp và cộng đồng trên
							  khắp Hà Nội đến gần với nhau hơn.
							</p>
							<a class="sukien_5" href="#">
								xem tiếp >>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	<!--tin tức-->
		<div class="tintuc">
			<div class="container">
				<h3 class="tintuc_content">Giảng viên của Reach</h3>
				<div class="row">
					<div class="col col-expand-xl 6">
						<div class="tintuc_top_img">
							<a href="#"><img class="tintuc_img" src="img/image/thanhtam.jpg"></a>
						</div>
						<div class="tintuc_top_content">
							<h4 class="tintuc_content_top">Cô Phạm Thị Thanh Tâm</h4>
							<h5 class="tintuc_content_bot">Giám đốc trung tâm Reach</h5>
							<p>"Trong suốt chặng đường 10 năm, mỗi cá <br>
								nhân tại REACH đã không ngừng quyết tâm <br>
								và bền bỉ theo đuổi sứ mệnh hỗ trợ<br>
								các thanh niên có hoàn cảnh khó khăn<br>
								trên khắp Việt Nam. . "</p>
						</div>
						<br>
						<a style="text-decoration: none;" href="#" class="tintuc_top">Xem thêm >></a>
					</div>
					<div class="col col-expand-xl 6">
						<div class="tintuc_top_img">
							<a href="#"><img class="tintuc_img" src="img/image/thayt.jpg"></a>
						</div>
						<div class="tintuc_top_content">
							<h4 class="tintuc_content_top">Thầy Nguyễn Hữu Hoàng Tùng</h4>
							<h5 class="tintuc_content_bot">Chủ nhiệm lớp lập trình web</h5>
							<p>"Không có gì là không thể."</p>
						</div>
						<br>
						<a style="text-decoration: none;" href="#" class="tintuc_bot">Xem thêm >></a>
					</div>
				</div>
			</div>
		</div>
	<!--footer-->
	<footer>
		<div class="container">
			<h3>Liên hệ</h3>
			<div class="row">
				<div class="col col-expand-xl 3">
						<img src="img/image/logo.png" style="width: 120px; height: 100px">
						<h5 class="sologan">Vì tương lai của bạn</h5>
						<p>Kết nối với chúng tôi</p>
						<div class="logo_footer">
							<a href="#"><img class="logo" src="img/image/facebook.png" style="width: 30px; height: 30px"></a>
							<a href="#"><img class="logo" src="img/image/instagram.png" style="width: 30px; height: 30px"></a>
							<a href="#"><img class="logo" src="img/image/search.png" style="width: 30px; height: 30px"></a>
							<a href="#"><img src="img/image/twitter.png" style="width: 30px; height: 30px"></a>
						</div>
					</div>
				<div class="col col-expand-xl 3">
					<h5>Trụ sở Reach</h5>
					<p>Add: Tầng 2, nhà A, khu VL1, Trung tâm<br>
					 Thương mại Dịch vụ Trung Văn 1, Quận<br>
					 Nam Từ Liêm, Hà Nội<br>
					Tell: +84 24 7302 1338<br></p>
					Email:<a href="#">contact@reach.org.vn</a>
				</div>
				<div class="col col-expand-xl 3">
					<h5>Văn phòng REACH Miền Bắc </h5>
					<p>
						Add: Tầng 2, nhà B, khu VL1, TT Thương<br>
						 mại Dịch vụ Trung Văn 1, Nam Từ Liêm, <br>
						 Hà Nội
					</p>
					FB:  <a href="#">TT REACH Hà Nội</a>
					<p>Tell: +84 24 7302 1339</p>
					Email:<a href="#">contact@reach.org.vn</a>
				</div>
				<div class="col col-expand-xl 3">
					<h5>Văn phòng REACH Huế </h5>
					<p>Add: Đường Đoàn Nguyễn Tuấn, <br>
					Quận Phú Hậu, tp Huế</p>
					FB:  <a href="#">TT REACH Huế</a> 
					<p>Tell: +84 24 7302 1339</p>
					Email:<a href="#">contact@reach.org.vn</a>
				</div>
			</div>
		</div>
	</footer>
	
	
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>